# üìò Descri√ß√£o do Notebook

Este notebook realiza a **extra√ß√£o, tratamento, armazenamento e valida√ß√£o de dados** da **Pok√©mon API**, com foco nos Pok√©mons **Charmander**, **Charmeleon** e **Charizard**.

As principais etapas deste processo s√£o:

---

## üîπ 1. Extra√ß√£o de Dados
- Utiliza√ß√£o da biblioteca `requests` para acessar a API p√∫blica da Pok√©API;
- Requisi√ß√£o de informa√ß√µes dos Pok√©mons selecionados por meio de suas URLs individuais.

## üîπ 2. Verifica√ß√£o de Respostas
- Checagem do c√≥digo de status HTTP (`status_code`);
- Exibi√ß√£o de alertas personalizados caso ocorra falha na obten√ß√£o de dados.

## üîπ 3. Cria√ß√£o de Tabelas Individuais (DataFrames)
Para cada Pok√©mon, s√£o extra√≠dos e organizados os seguintes dados:
- **Nome**
- **Experi√™ncia Base**
- **Altura**
- **Peso**
- **ID**

## üîπ 4. Unifica√ß√£o e Tratamento de Dados
- Jun√ß√£o dos DataFrames em uma √∫nica tabela;
- Padroniza√ß√£o dos nomes das colunas com `str.title()`;
- Preenchimento de valores ausentes com `fillna(0)`;
- Convers√£o dos tipos de dados para `float` quando necess√°rio;
- Padroniza√ß√£o dos nomes dos Pok√©mons com `str.title()`.

## üîπ 5. Visualiza√ß√£o Final
- Exibi√ß√£o da tabela final tratada com `display()` para facilitar a leitura.

## üîπ 6. Armazenamento em Banco de Dados
- Utiliza√ß√£o do `sqlite3` para criar e conectar ao banco local `pokemons.db`;
- Salvamento da tabela no banco com o nome `tabela_pokemons`.

## üîπ 7. Valida√ß√£o dos Dados
- Leitura direta dos dados armazenados no banco;
- Exibi√ß√£o da tabela recuperada com `display()`.

## üîπ 8. Sistema de Alerta
- Verifica√ß√£o autom√°tica de Pok√©mons com **experi√™ncia base acima de 200**;
- Gera√ß√£o de mensagens de alerta com `print()` para destacar os casos encontrados.

---

> üí° Este notebook demonstra, de forma pr√°tica, como integrar APIs, tratar dados com `pandas` e armazenar resultados em um banco de dados local com `sqlite3`.

In [1]:
import requests  # Biblioteca para pegar dados da internet
import pandas as pd  # Biblioteca para trabalhar com tabelas
import sqlite3  # Biblioteca para trabalhar com banco de dados SQLite

# Fun√ß√£o para exibir alertas (simula√ß√£o da fun√ß√£o 'alerta' da aula)
def alerta(mensagem):
    print(f"üö® Alerta: {mensagem}")  # Exibe um alerta na tela

# Aqui eu defino as URLs dos pok√©mons que quero pegar
url_charmander = 'https://pokeapi.co/api/v2/pokemon/charmander'
url_charmeleon = 'https://pokeapi.co/api/v2/pokemon/charmeleon'
url_charizard = 'https://pokeapi.co/api/v2/pokemon/charizard'

# Agora eu pego os dados dessas URLs usando requests.get()
print("Pegando os dados da API")  # S√≥ para saber que come√ßou
res_charmander = requests.get(url_charmander)
res_charmeleon = requests.get(url_charmeleon)
res_charizard = requests.get(url_charizard)

# Verifico se a resposta deu certo (c√≥digo 200 significa sucesso)
if res_charmander.status_code == 200:
    dados_charmander = res_charmander.json()  # Converte para dicion√°rio
else:
    alerta("Erro ao acessar API do Charmander!")

if res_charmeleon.status_code == 200:
    dados_charmeleon = res_charmeleon.json()
else:
    alerta("Erro ao acessar API do Charmeleon!")

if res_charizard.status_code == 200:
    dados_charizard = res_charizard.json()
else:
    alerta("Erro ao acessar API do Charizard!")

# Criando tabelas (dataframes) com os dados principais de cada Pok√©mon
print("Criando tabelas")  # S√≥ para saber que est√° nessa parte

df_charmander = pd.DataFrame([{
    'Nome': 'Charmander',
    'Experi√™ncia Base': dados_charmander['base_experience'],
    'Altura': dados_charmander['height'],
    'Peso': dados_charmander['weight'],
    'ID': dados_charmander['id']
}])

df_charmeleon = pd.DataFrame([{
    'Nome': 'Charmeleon',
    'Experi√™ncia Base': dados_charmeleon['base_experience'],
    'Altura': dados_charmeleon['height'],
    'Peso': dados_charmeleon['weight'],
    'ID': dados_charmeleon['id']
}])

df_charizard = pd.DataFrame([{
    'Nome': 'Charizard',
    'Experi√™ncia Base': dados_charizard['base_experience'],
    'Altura': dados_charizard['height'],
    'Peso': dados_charizard['weight'],
    'ID': dados_charizard['id']
}])

# Agora eu junto todas as tabelas em uma s√≥
print("Juntando as tabelas")  # De novo, s√≥ para saber onde estou
df_pokemons = pd.concat([df_charmander, df_charmeleon, df_charizard])

# Agora vem a parte de TRATAR os dados!
print("Tratando os dados")  # Essa parte √© importante!

# Ajustar nomes das colunas para deixar mais bonito
df_pokemons.columns = df_pokemons.columns.str.title()  # Deixa com letra mai√∫scula

# Tratamento de valores ausentes (missing values)
df_pokemons = df_pokemons.fillna(0)  # Se tiver algo vazio, vira 0

# Ajustar tipos de vari√°veis (Altura e Peso s√£o n√∫meros)
df_pokemons['Altura'] = df_pokemons['Altura'].astype(float)
df_pokemons['Peso'] = df_pokemons['Peso'].astype(float)

# Transforma√ß√£o de string: deixar os nomes dos Pok√©mons com letra mai√∫scula no come√ßo
df_pokemons['Nome'] = df_pokemons['Nome'].str.title()

# Mostrar a tabela final
print("Tabela final tratada:")
display(df_pokemons)

# ========== NOVA PARTE: Salvando os dados no banco de dados ==========
print("Salvando os dados no banco de dados SQLite...")

# Conecta ou cria o banco local
conexao = sqlite3.connect('pokemons.db')

# Salva os dados tratados na tabela
df_pokemons.to_sql('tabela_pokemons', conexao, if_exists='replace', index=False)

print("üì¶ Dados salvos com sucesso no banco 'pokemons.db' na tabela 'tabela_pokemons'!")

# ========== NOVA PARTE: Validando os dados salvos no banco ==========
print("Validando os dados diretamente do banco:")

# L√™ os dados salvos no banco
df_validado = pd.read_sql('SELECT * FROM tabela_pokemons', conexao)

# Mostra os dados recuperados do banco
display(df_validado)

# Fecha a conex√£o
conexao.close()

# ========== SISTEMA DE ALERTA ==========
print("Verificando experi√™ncia base...")

for index, row in df_pokemons.iterrows():
    if row['Experi√™ncia Base'] > 200:
        alerta(f"{row['Nome']} tem mais de 200 de experi√™ncia base!")

Pegando os dados da API
Criando tabelas
Juntando as tabelas
Tratando os dados
Tabela final tratada:

         Nome  Experi√™ncia Base  Altura   Peso  Id
0  Charmander                62     6.0   85.0   4
0  Charmeleon               142    11.0  190.0   5
0   Charizard               267    17.0  905.0   6

Salvando os dados no banco de dados SQLite...
üì¶ Dados salvos com sucesso no banco 'pokemons.db' na tabela 'tabela_pokemons'!
Validando os dados diretamente do banco:

         Nome  Experi√™ncia Base  Altura   Peso  Id
0  Charmander                62     6.0   85.0   4
1  Charmeleon               142    11.0  190.0   5
2   Charizard               267    17.0  905.0   6

Verificando experi√™ncia base...
üö® Alerta: Charizard tem mais de 200 de experi√™ncia base!

### üîç Conclus√£o

Este notebook demonstrou um processo completo de extra√ß√£o, transforma√ß√£o e armazenamento de dados de tr√™s Pok√©mons da API oficial Pok√©API: Charmander, Charmeleon e Charizard.

As principais etapas realizadas foram:

- Acesso √† API com `requests` para obter os dados brutos dos Pok√©mons.
- Cria√ß√£o de tabelas com `pandas` para organizar as informa√ß√µes principais.
- Tratamento dos dados, incluindo padroniza√ß√£o de nomes, tipos de vari√°veis e valores ausentes.
- Armazenamento dos dados tratados em um banco de dados SQLite.
- Valida√ß√£o final ao ler os dados diretamente do banco para garantir que foram salvos corretamente.
- Implementa√ß√£o de um sistema simples de alerta que notifica se algum Pok√©mon tem mais de 200 de experi√™ncia base.

Este projeto serviu como pr√°tica de integra√ß√£o de diversas ferramentas e conceitos essenciais em projetos de dados, como requisi√ß√µes a APIs, manipula√ß√£o de dados com `pandas` e persist√™ncia com banco de dados.

Como pr√≥ximos passos, seria interessante:

- Adicionar visualiza√ß√µes dos dados com gr√°ficos.
- Expandir para mais Pok√©mons (por gera√ß√£o, tipo ou outra l√≥gica).
- Criar fun√ß√µes reutiliz√°veis para automatizar o processo.