# ðŸ“˜ DescriÃ§Ã£o do Notebook

Este notebook realiza a **extraÃ§Ã£o, tratamento, armazenamento e validaÃ§Ã£o de dados** da **PokÃ©mon API**, com foco nos PokÃ©mons **Charmander**, **Charmeleon** e **Charizard**.

As principais etapas deste processo sÃ£o:

---

## ðŸ”¹ 1. ExtraÃ§Ã£o de Dados
- UtilizaÃ§Ã£o da biblioteca `requests` para acessar a API pÃºblica da PokÃ©API;
- RequisiÃ§Ã£o de informaÃ§Ãµes dos PokÃ©mons selecionados por meio de suas URLs individuais.

## ðŸ”¹ 2. VerificaÃ§Ã£o de Respostas
- Checagem do cÃ³digo de status HTTP (`status_code`);
- ExibiÃ§Ã£o de alertas personalizados caso ocorra falha na obtenÃ§Ã£o de dados.

## ðŸ”¹ 3. CriaÃ§Ã£o de Tabelas Individuais (DataFrames)
Para cada PokÃ©mon, sÃ£o extraÃ­dos e organizados os seguintes dados:
- **Nome**
- **ExperiÃªncia Base**
- **Altura**
- **Peso**
- **ID**

## ðŸ”¹ 4. UnificaÃ§Ã£o e Tratamento de Dados
- JunÃ§Ã£o dos DataFrames em uma Ãºnica tabela;
- PadronizaÃ§Ã£o dos nomes das colunas com `str.title()`;
- Preenchimento de valores ausentes com `fillna(0)`;
- ConversÃ£o dos tipos de dados para `float` quando necessÃ¡rio;
- PadronizaÃ§Ã£o dos nomes dos PokÃ©mons com `str.title()`.

## ðŸ”¹ 5. VisualizaÃ§Ã£o Final
- ExibiÃ§Ã£o da tabela final tratada com `display()` para facilitar a leitura.

## ðŸ”¹ 6. Armazenamento em Banco de Dados
- UtilizaÃ§Ã£o do `sqlite3` para criar e conectar ao banco local `pokemons.db`;
- Salvamento da tabela no banco com o nome `tabela_pokemons`.

## ðŸ”¹ 7. ValidaÃ§Ã£o dos Dados
- Leitura direta dos dados armazenados no banco;
- ExibiÃ§Ã£o da tabela recuperada com `display()`.

## ðŸ”¹ 8. Sistema de Alerta
- VerificaÃ§Ã£o automÃ¡tica de PokÃ©mons com **experiÃªncia base acima de 200**;
- GeraÃ§Ã£o de mensagens de alerta com `print()` para destacar os casos encontrados.

---

> ðŸ’¡ Este notebook demonstra, de forma prÃ¡tica, como integrar APIs, tratar dados com `pandas` e armazenar resultados em um banco de dados local com `sqlite3`.

In [1]:
import requests  # Biblioteca para pegar dados da internet
import pandas as pd  # Biblioteca para trabalhar com tabelas
import sqlite3  # Biblioteca para trabalhar com banco de dados SQLite

# FunÃ§Ã£o para exibir alertas (simulaÃ§Ã£o da funÃ§Ã£o 'alerta' da aula)
def alerta(mensagem):
    print(f"ðŸš¨ Alerta: {mensagem}")  # Exibe um alerta na tela

# Aqui eu defino as URLs dos pokÃ©mons que quero pegar
url_charmander = 'https://pokeapi.co/api/v2/pokemon/charmander'
url_charmeleon = 'https://pokeapi.co/api/v2/pokemon/charmeleon'
url_charizard = 'https://pokeapi.co/api/v2/pokemon/charizard'

# Agora eu pego os dados dessas URLs usando requests.get()
print("Pegando os dados da API")  # SÃ³ para saber que comeÃ§ou
res_charmander = requests.get(url_charmander)
res_charmeleon = requests.get(url_charmeleon)
res_charizard = requests.get(url_charizard)

# Verifico se a resposta deu certo (cÃ³digo 200 significa sucesso)
if res_charmander.status_code == 200:
    dados_charmander = res_charmander.json()  # Converte para dicionÃ¡rio
else:
    alerta("Erro ao acessar API do Charmander!")

if res_charmeleon.status_code == 200:
    dados_charmeleon = res_charmeleon.json()
else:
    alerta("Erro ao acessar API do Charmeleon!")

if res_charizard.status_code == 200:
    dados_charizard = res_charizard.json()
else:
    alerta("Erro ao acessar API do Charizard!")

# Criando tabelas (dataframes) com os dados principais de cada PokÃ©mon
print("Criando tabelas")  # SÃ³ para saber que estÃ¡ nessa parte

df_charmander = pd.DataFrame([{
    'Nome': 'Charmander',
    'ExperiÃªncia Base': dados_charmander['base_experience'],
    'Altura': dados_charmander['height'],
    'Peso': dados_charmander['weight'],
    'ID': dados_charmander['id']
}])

df_charmeleon = pd.DataFrame([{
    'Nome': 'Charmeleon',
    'ExperiÃªncia Base': dados_charmeleon['base_experience'],
    'Altura': dados_charmeleon['height'],
    'Peso': dados_charmeleon['weight'],
    'ID': dados_charmeleon['id']
}])

df_charizard = pd.DataFrame([{
    'Nome': 'Charizard',
    'ExperiÃªncia Base': dados_charizard['base_experience'],
    'Altura': dados_charizard['height'],
    'Peso': dados_charizard['weight'],
    'ID': dados_charizard['id']
}])

# Agora eu junto todas as tabelas em uma sÃ³
print("Juntando as tabelas")  # De novo, sÃ³ para saber onde estou
df_pokemons = pd.concat([df_charmander, df_charmeleon, df_charizard])

# Agora vem a parte de TRATAR os dados!
print("Tratando os dados")  # Essa parte Ã© importante!

# Ajustar nomes das colunas para deixar mais bonito
df_pokemons.columns = df_pokemons.columns.str.title()  # Deixa com letra maiÃºscula

# Tratamento de valores ausentes (missing values)
df_pokemons = df_pokemons.fillna(0)  # Se tiver algo vazio, vira 0

# Ajustar tipos de variÃ¡veis (Altura e Peso sÃ£o nÃºmeros)
df_pokemons['Altura'] = df_pokemons['Altura'].astype(float)
df_pokemons['Peso'] = df_pokemons['Peso'].astype(float)

# TransformaÃ§Ã£o de string: deixar os nomes dos PokÃ©mons com letra maiÃºscula no comeÃ§o
df_pokemons['Nome'] = df_pokemons['Nome'].str.title()

# Mostrar a tabela final
print("Tabela final tratada:")
display(df_pokemons)

# ========== NOVA PARTE: Salvando os dados no banco de dados ==========
print("Salvando os dados no banco de dados SQLite...")

# Conecta ou cria o banco local
conexao = sqlite3.connect('pokemons.db')

# Salva os dados tratados na tabela
df_pokemons.to_sql('tabela_pokemons', conexao, if_exists='replace', index=False)

print("ðŸ“¦ Dados salvos com sucesso no banco 'pokemons.db' na tabela 'tabela_pokemons'!")

# ========== NOVA PARTE: Validando os dados salvos no banco ==========
print("Validando os dados diretamente do banco:")

# LÃª os dados salvos no banco
df_validado = pd.read_sql('SELECT * FROM tabela_pokemons', conexao)

# Mostra os dados recuperados do banco
display(df_validado)

# Fecha a conexÃ£o
conexao.close()

# ========== SISTEMA DE ALERTA ==========
print("Verificando experiÃªncia base...")

for index, row in df_pokemons.iterrows():
    if row['ExperiÃªncia Base'] > 200:
        alerta(f"{row['Nome']} tem mais de 200 de experiÃªncia base!")

Pegando os dados da API
Criando tabelas
Juntando as tabelas
Tratando os dados
Tabela final tratada:

         Nome  ExperiÃªncia Base  Altura   Peso  Id
0  Charmander                62     6.0   85.0   4
0  Charmeleon               142    11.0  190.0   5
0   Charizard               267    17.0  905.0   6

Salvando os dados no banco de dados SQLite...
ðŸ“¦ Dados salvos com sucesso no banco 'pokemons.db' na tabela 'tabela_pokemons'!
Validando os dados diretamente do banco:

         Nome  ExperiÃªncia Base  Altura   Peso  Id
0  Charmander                62     6.0   85.0   4
1  Charmeleon               142    11.0  190.0   5
2   Charizard               267    17.0  905.0   6

Verificando experiÃªncia base...
ðŸš¨ Alerta: Charizard tem mais de 200 de experiÃªncia base!