# üìò Descri√ß√£o do Notebook

Este notebook realiza a **extra√ß√£o, tratamento, armazenamento e valida√ß√£o de dados** da **Pok√©mon API**, com foco nos Pok√©mons **Charmander**, **Charmeleon** e **Charizard**.

Agora tamb√©m integra as **habilidades** de cada Pok√©mon e implementa um sistema de alerta avan√ßado, inspirado no modelo da Aula 20.

---

## üîπ Primeiro passo: Mensagem de Alerta
- Implementa√ß√£o da fun√ß√£o `alerta()` para gerar mensagens personalizadas em caso de erro de requisi√ß√£o ou eventos espec√≠ficos durante a execu√ß√£o do notebook.

## üîπ Etapa 1: Extra√ß√£o dos Dados
- Utiliza√ß√£o da biblioteca `requests` para acessar a API p√∫blica da Pok√©API;
- Extra√ß√£o dos dados principais dos Pok√©mons, como Nome, Experi√™ncia Base, Altura, Peso e ID.

## üîπ Etapa 2: Coleta e Organiza√ß√£o
- Coleta dos dados dos Pok√©mons selecionados (Charmander, Charmeleon e Charizard);
- Organiza√ß√£o dos dados coletados em um `DataFrame` do pandas.

## üîπ Etapa 3: Tratamento dos Dados
- Padroniza√ß√£o dos nomes das colunas com `str.title()`;
- Preenchimento de valores ausentes com `fillna(0)`;
- Convers√£o dos tipos de dados (altura e peso para `float`);
- Padroniza√ß√£o dos nomes dos Pok√©mons.

## üîπ Etapa 4: Armazenamento no SQLite
- Utiliza√ß√£o do `sqlite3` para criar e conectar a um banco de dados local (`pokemons_v4.db`);
- Salvamento dos dados tratados na tabela `tabela_pokemons`.

## üîπ Etapa 5: Valida√ß√£o
- Leitura dos dados diretamente do banco de dados SQLite;
- Exibi√ß√£o da tabela recuperada para confer√™ncia com `display()`.

## üîπ Etapa 6: Sistema de Alerta
- Verifica√ß√£o autom√°tica de Pok√©mons com **experi√™ncia base acima de 200**;
- Gera√ß√£o de alertas personalizados destacando o nome do Pok√©mon e seu valor de experi√™ncia.

---

> üí° Este notebook demonstra, na pr√°tica, como integrar m√∫ltiplas APIs, tratar dados com `pandas`, salvar informa√ß√µes em banco de dados local com `sqlite3` e implementar um sistema de alerta autom√°tico para eventos espec√≠ficos.

In [1]:
import requests
import pandas as pd
import sqlite3

def alerta(mensagem):
    print(f"üö® Alerta: {mensagem}")

## Etapa 1: Extra√ß√£o dos Dados

In [2]:
def extrair_dados_pokemon(id_pokemon):
    url = f'https://pokeapi.co/api/v2/pokemon/{id_pokemon}'
    res = requests.get(url)
    if res.status_code != 200:
        alerta(f"Erro ao acessar Pok√©mon ID {id_pokemon}")
        return None
    data = res.json()
    return {
        'ID': data['id'],
        'Nome': data['name'].title(),
        'Experi√™ncia Base': data['base_experience'],
        'Altura': data['height'],
        'Peso': data['weight'],
        'Habilidades': ', '.join([h['ability']['name'] for h in data['abilities']])
    }

## Etapa 2: Coleta e Organiza√ß√£o

In [3]:
pokemons = [4, 5, 6]  # Charmander, Charmeleon, Charizard
dados = []
for pid in pokemons:
    d = extrair_dados_pokemon(pid)
    if d:
        dados.append(d)
df_pokemons = pd.DataFrame(dados)
display(df_pokemons)

   ID        Nome  Experi√™ncia Base  Altura  Peso         Habilidades
0   4  Charmander                62       6    85  blaze, solar-power
1   5  Charmeleon               142      11   190  blaze, solar-power
2   6   Charizard               267      17   905  blaze, solar-power

## Etapa 3: Tratamento dos Dados

In [4]:
df_pokemons.columns = df_pokemons.columns.str.title()
df_pokemons = df_pokemons.fillna(0)
df_pokemons['Altura'] = df_pokemons['Altura'].astype(float)
df_pokemons['Peso'] = df_pokemons['Peso'].astype(float)
display(df_pokemons)

   Id        Nome  Experi√™ncia Base  Altura   Peso         Habilidades
0   4  Charmander                62     6.0   85.0  blaze, solar-power
1   5  Charmeleon               142    11.0  190.0  blaze, solar-power
2   6   Charizard               267    17.0  905.0  blaze, solar-power

## Etapa 4: Armazenamento no SQLite

In [5]:
with sqlite3.connect('pokemons_v4.db') as conn:
    df_pokemons.to_sql('tabela_pokemons', conn, if_exists='replace', index=False)
print('Dados salvos no banco pokemons_v4.db')

Dados salvos no banco pokemons_v4.db

## Etapa 5: Valida√ß√£o

In [6]:
with sqlite3.connect('pokemons_v4.db') as conn:
    df_val = pd.read_sql('SELECT * FROM tabela_pokemons', conn)
display(df_val)

   Id        Nome  Experi√™ncia Base  Altura   Peso         Habilidades
0   4  Charmander                62     6.0   85.0  blaze, solar-power
1   5  Charmeleon               142    11.0  190.0  blaze, solar-power
2   6   Charizard               267    17.0  905.0  blaze, solar-power

## Etapa 6: Sistema de Alerta

In [7]:
for _, row in df_pokemons.iterrows():
    if row['Experi√™ncia Base'] > 200:
        alerta(f"{row['Nome']} possui experi√™ncia base elevada: {row['Experi√™ncia Base']}")

üö® Alerta: Charizard possui experi√™ncia base elevada: 267

### üîç Conclus√£o

Este notebook demonstrou um processo completo de extra√ß√£o, transforma√ß√£o, armazenamento e valida√ß√£o de dados, utilizando a API oficial Pok√©API para os Pok√©mons **Charmander**, **Charmeleon** e **Charizard**.

As principais etapas realizadas foram:

- Defini√ß√£o de uma fun√ß√£o `alerta()` para gerar mensagens personalizadas em caso de erro ou eventos importantes.
- Acesso √† API com `requests` para obter dados brutos dos Pok√©mons, incluindo suas habilidades.
- Organiza√ß√£o dos dados principais em tabelas com `pandas`, incorporando nome, experi√™ncia base, altura, peso, ID e habilidades.
- Tratamento dos dados, incluindo padroniza√ß√£o de nomes, tipos de vari√°veis (`float`) e preenchimento de valores ausentes.
- Armazenamento dos dados tratados em um banco de dados SQLite (`pokemons_v4.db`) na tabela `tabela_pokemons`.
- Valida√ß√£o dos dados armazenados ao ler diretamente do banco de dados e exibir os resultados.
- Implementa√ß√£o de um sistema de alerta avan√ßado, que detecta automaticamente Pok√©mons com mais de 200 de experi√™ncia base e exibe mensagens de notifica√ß√£o.

Este projeto serviu como pr√°tica de integra√ß√£o de m√∫ltiplas fontes de dados, manipula√ß√£o com `pandas`, persist√™ncia em banco de dados com `sqlite3` e cria√ß√£o de sistemas autom√°ticos de alerta, consolidando conceitos importantes para projetos de dados no mundo real.